body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #119fa4;
}

#app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    gap: 0;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    width: fit-content;
    justify-content: center;
}

.square {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #000;
}

.dark {
    background-color: hsl(30, 22%, 96%); 
}

.light {
    background-color: hsl(40, 20%, 97%); 
}

.queen {
    background-image: url('queen.png');
    background-size: cover;
    background-position: center;
}

#timer {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#solutionsCount {
    margin-top: 20px;
    font-weight: bold;
}

#generateBoard{
    margin-top: 5px;
    padding: 5px;
    background-color: hwb(327 2% 64%);
    color: white;
    border: none;
    cursor: pointer;
}

#showSolutions{
    margin-top: 5px;
    padding: 5px;
    background-color: hwb(258 3% 68%);
    color: white;
    border: none;
    cursor: pointer;
}

#prevSolution{
    margin-top: 5px;
    padding: 5px;
    background-color: hwb(258 3% 68%);
    color: white;
    border: none;
    cursor: pointer;
}

#nextSolution{
    margin-top: 5px;
    padding: 5px;
    background-color: hwb(258 3% 68%);
    color: white;
    border: none;
    cursor: pointer;
}

#undoMove{
    margin-top: 5px;
    padding: 5px;
    background-color: hwb(258 3% 68%);
    color: white;
    border: none;
    cursor: pointer;
}

#gameResult {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 7, 7);
}

.hidden {
    display: none;
}
